@charset "utf-8";

body {
  font-family: "Lato";
  padding: 0;
  background-image: url(../img/exvs-sns-image/bg_black.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #fff;
}

.container {
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #fff;
}

p {
  margin-bottom: 0;
}

a:hover {
  color:#DD2C00;
}

.btn {
  margin:0;
}

.btn-backred:hover {
  color: #212121;
}

.btn:hover {
  color: rgba(255,255,255,.75);
}

.card-text-p {
  font-size: 15px;
}

/* --- Nabar Head--- */
.navbar{
  background-color: #212121;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-home {
  font-size: 20px;
}

.navbar-home:hover {
  color: #DD2C00;
  text-decoration: none;  
}

.nav-item {
  margin: auto;
  font-size: 15px;
}

.nav-item:nth-child(2) {
  margin-left: 10px;
}

.tag-form {
  margin-top: 0;
  margin-bottom:0;
  width: 400px;
}

.red.lighten-3 {
  background-color:#DD2C00 !important;
}

.red.lighten-3:hover {
  opacity: 0.7;
}

/* --- Navbar Cost --- */
.cost-wrapper {
  padding-top: 95px;
}

.cost-category {
  display: flex;
  justify-content: center;
}

.cost-item {
  width: 200px;
}

.cost-item:hover {
  opacity: 0.7;
}

.cost-link {
  margin-left: 25px;
  font-size: 25px;
  color: #fff;
}

.cost-link:first-child {
  margin-left: 0;
}

/* --- HOME --- */
.top-wrapper {
  position: relative;
  overflow-x: hidden;
}

.top-background-img {
  width: 100%;
  height: 650px;
  background-size: cover;
}

.top-container {
  position: absolute;
  left: 45%;
  top: 12%;
  transform: translateX(-50%);
}

.top-titlebox {
  display: flex;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: rgba(255,255,255,0.5);
}

.top-title {
  margin: 0 auto;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  color: #212121;
}

.btn-about {
  background-color: #fff;
}

.btn-about:hover {
  background-color: #c0c0c0;
}

/* --- My Profile --- */
.about-container {
  padding: 60px 0 70px 0;
}

.about-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.about-content {
  display: flex;
  margin-top: 80px;
}

.profile-img-thumb {
  width: 50%;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  padding: .25rem;
}

.profile-name {
  font-size: 30px;
  font-weight: bold;
}

.social-item {
  color: #212121;
  height: 42px;
  width: 42px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: all 0.5s;
  text-align: center;
}

.social-item:last-child {
  margin-left: 15px;
}

/* --- posts. card --- */
.card-wrapper {
  margin-top: 80px;
}

.card {
  background-color: #212121;
  border: 2px solid#DD2C00;
  padding: 15px;
}

.card-main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card-main:first-child {
  margin-top: 0;
}

.card-details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.card-details:first-child {
  margin-top: 0;
}

.card-right {
 width: 100%;
}

.card-score {
  display: flex;
  padding: 0;
}

.card-user {
  font-weight: bold;
}

.card-created {
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 400;
  color:#fff;
  margin-left: auto;
}

.card-edit-btn {
  color: grey;
}

.tag-hashtag {
  padding: 3px;
  background-color:#DD2C00;
  border-radius: 5px;
  font-size: 14px;
}

.card-title-btn {
  display: flex;
  flex-direction: row;
}

.card-title {
  margin-bottom: 0;
  font-weight: bold;
}

.btn-like-comment {
  padding: 0;
  border: none;
  background-color: #212121;
  font-size: 15px;
}

.btn-like-comment {
  margin-left: 20px;
}

.btn-like-comment:first-child {
  margin-left: 0;
}

.fa-comment-dots, .fa-star {
  margin-right: 20px;
}

/* --- Dropdown menu --- */

/* --- posts.create--- */
.card-create {
  padding: 20px;
  margin-top: 20px;
}

/*  --- posts.form--- */
.name-label {
  display: block;
  color: #545658;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-cost {
  width: 150px;
}

.form-alert {
  color: #DD2C00;
}
.btn-back {
  background-color:#fff;
  color: #212121;
}

.btn-back:hover {
  color: #212121;
}

.btn-submit {
  background-color:#DD2C00;
  
}

.btn-submit:hover {
  color: rgba(255,255,255,.75);
}

.form-btn {
  text-align: center;
}

textarea {
  resize: none;
}

/* --- posts.comment ---*/
.card-comment {
  float: right;
  width: 75%;
  position: relative;
  margin-top: 20px;
}
.comment-text {
  display: flex;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

.comment-user {
  margin-left: 15px;
  color:#DD2C00;
  font-weight: bold;
}

.comment-form {
  display: flex;
  margin-top: 40px;
}

.comment-btn {
  float: right;
}

.fa-user-circle {
  font-size: 40px;
}

/* --- Users.form.--- */
.user-edit {
  text-align: center;
}

.editThumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.mypage-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card-mypage {
  display: flex;
  flex-direction: row;
}
/* --- tags show ---- */
.card-title-tag {
  text-align: center;
  color:#DD2C00;
  font-weight: bold;
  padding-top: 10px;
}

.tag-count {
  text-align: center;
  
}

/* --- login form --- */
.login-form {
  padding: 30px;
  width: 600px;
  margin: 0 auto;
}

.login-btn {
  text-align: center;
}

.pagination .page-item .page-link {
  color: #fff;
}

.pagination .page-item .page-link:hover {
  background-color: #212121;
}

.modal-body {
  color: #212121;
}

.cost-name {
  font-size: 15px;
}