@charset "utf-8";

body {
  font-family: "Lato";
  padding: 0;
}

.container {
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #495057;
}

p {
  margin-bottom: 0;
  font-size: 12px;
}

.btn {
  margin:0;
}

textarea {
  resize: none;
}

.empty-text {
  color: #c0c0c0;
}
/* --- Nabar Head--- */
.navbar{
  background-color: #464c56;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-home {
  font-size: 20px;
  color: #fff;
}

.navbar-home:hover {
  color: #fff;
}

.tag-form {
  margin-top: 0;
  margin-bottom:0;
  width: 400px;
}

.nav-item {
  margin: auto;
  font-size: 15px;
}

.nav-article {
  background-color: #0288D1;
  font-size: 12px;
  border-radius: 5px;
  line-height: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.nav-item:nth-child(2) {
  margin-left: 10px;
  color: #fff;
}

.search-blue {
  background-color: #0288D1 !important;
}

.search-blue:hover {
  opacity: 0.7;
}

.editThumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.circle-editThumbnail {
  font-size: 40px;
}


/* --- Navbar Cost --- */
.cost-wrapper {
  padding-top: 95px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

.cost-category {
  display: flex;
  justify-content: center;
}

.cost-item {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.cost-item:hover {
  opacity: 0.7;
}

.cost-all {
  border: 1px solid #0288D1;
  background-color: #E1F5FE;
  color: #0288D1;
}

.cost-3000 {
  border: 1px solid #FF3D00;
  background-color:#FFCCBC;
  color: #FF3D00;
}

.cost-2500 {
  border: 1px solid #FF6D00;
  background-color:#FFE0B2;
  color: #FF6D00;
}

.cost-2000 {
  border: 1px solid #FBC02D;
  background-color:#FFF9C4;
  color: #FBC02D;
}

.cost-1500 {
  border: 1px solid #00C853;
  background-color:#E8F5E9;
  color: #00C853;
}

.cost-3000:hover {
  color: #FF3D00;
}

.cost-2500:hover {
  color: #FF6D00;
}

.cost-2000:hover {
  color: #FBC02D;
}

.cost-1500:hover {
  color: #00C853;
}

/* --- HOME --- */
.top-wrapper {
  position: relative;
  overflow-x: hidden;
}

.top-background-img {
  width: 100%;
  height: 650px;
  background-size: cover;
}

.top-container {
  position: absolute;
  left: 45%;
  top: 12%;
  transform: translateX(-50%);
}

.top-titlebox {
  display: flex;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: rgba(255,255,255,0.5);
}

.top-title {
  margin: 0 auto;
  letter-spacing: 3px;
  text-align: center;
  font-weight: normal;
}

.btn-about:hover {
  background-color: #c0c0c0;
}

.about-container {
  padding: 60px 0 70px 0;
}

.about-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.about-content {
  display: flex;
  margin-top: 80px;
}

.profile-img-thumb {
  width: 50%;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  padding: .25rem;
}

.profile-name {
  font-size: 30px;
  font-weight: bold;
}

.social-item {
  height: 42px;
  width: 42px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: all 0.5s;
  text-align: center;
}

.social-item:last-child {
  margin-left: 15px;
}

/* --- posts. card --- */
.card-wrapper {
  margin-top: 80px;
}

.card {
  background-color: #f2f2f2;
  border: 1px solid#464c56;
  padding: 15px;
}

.card-main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card-main:first-child {
  margin-top: 0;
}

.card-details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.card-details:first-child {
  margin-top: 0;
}

.card-right {
 width: 100%;
 margin-left: 20px;
}

.card-score {
  display: flex;
  padding: 0;
}

.card-user {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
}

.card-mypage {
  display: flex;
  flex-direction: row;
}

.user-thumbnail {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5px;
}

.user-icon {
  font-size: 25px;
}

.card-edit-btn {
  color: grey;
}

.card-cost {
  border: 1px solid #c0c0c0;
  padding: 3px;
  font-size: 12px;
  background-color: #FFEE58;
}

.tag-hashtag {
  padding: 3px;
  background-color: #d5e9f7;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #b8dbf2;
  box-sizing: border-box;
}

.card-title-btn {
  display: flex;
  flex-direction: row;
}

.card-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

.index-card-title {
  color: rgb(17, 126, 198);
}

.btn-like-comment {
  padding: 0;
  font-size: 15px;
}

.btn-like-comment {
  margin-left: 20px;
}

.btn-like-comment:first-child {
  margin-left: 0;
}

.fa-comment-dots, .fa-star {
  margin-right: 10px;
}

.detailes-title {
  font-size: 24px;
}

.card-text {
  white-space: pre-line;
  font-size: 16px;
}

/*  --- posts.form--- */
.name-label {
  display: block;
  color: #545658;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-cost {
  width: 150px;
}

.form-alert {
  color: #FF1744;
}

.btn-submit {
  background-color:#0288D1;
  color: #fff;
}

.form-btn {
  text-align: center;
}

/* --- posts.comment ---*/
.card-comment {
  float: right;
  width: 75%;
  position: relative;
  margin-top: 20px;
}
.comment-text {
  display: flex;
  border-top: 1px solid #c0c0c0;
  margin-top: 10px;
}

.comment-user {
  margin-left: 15px;
  font-weight: bold;
}

.comment-form {
  display: flex;
  margin-top: 40px;
}

.comment-btn {
  float: right;
}

/* --- ユーザーページ--- */
.user-edit {
  text-align: center;
}

.mypage-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.my-textarea {
  width: 650px;
  margin: 0 auto;
}

.mypage-user-icon {
  font-size: 150px;
}

.mypage-user {
  font-size: 20px;
  font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus {
  background-color: #464c56;
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #464c56;
  color: #fff;
}

/* --- tags show ---- */
.card-title-tag {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.tag-count {
  text-align: center;
  
}

/* --- login form --- */
.login-form {
  padding: 30px;
  width: 600px;
  margin: 0 auto;
}

.login-btn {
  text-align: center;
}

.cost-name {
  font-size: 15px;
}

.pagination .page-item .page-link {
  border: 1px solid #c0c0c0;
}